body{
    background-color: #2e6da4;
}

h1{
  text-align: center;
}

p{
  text-align: center;
  margin: 3px;
  transition: background 0.6s;
}
.square{
    width: 50%;
    padding-bottom: 50%;
    margin: auto;
    margin-bottom: 3%;
    border-radius: 15px;
    transition: background 0.6s;
}

.jumbotron{
  margin: 10px;
  background-color: white;
}

#myNavBar{
  margin: 10px;
}

.btn{
  transition: all 0.3s;
}
